name: Sovereign APK Build
on: [push, workflow_dispatch] # يسمح لك بتشغيل البناء يدوياً أيضاً

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip libncurses5-dev libncursesw5-dev zlib1g-dev cpancython
          pip install --upgrade pip
          pip install buildozer cython==0.29.33 kivy

      - name: Build with Buildozer
        run: |
          yes | buildozer android debug
        continue-on-error: true

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: My-Sovereign-Weapon
          path: bin/*.apk # هذا هو السطر الذي سيُظهر لك الملف للتحميل
